html
  box-sizing: border-box
  overflow-y: scroll
  -webkit-text-size-adjust: 100%

body
  margin 0

a, button
  $no-appearance()
  cursor: pointer

button
  no-select()
  outline none
  border-style none
  &:focus
    outline none
  &:active
    border-style none



a
  cursor pointer
  & ,&:link ,&:visited ,&:active
    text-decoration none
    color inherit
  &:hover
    color inherit