/* Border */

br-pill()
  border-radius 500px

br-circle()
  border-radius 50%

/*$br-sizes :={
  '0': 0
  xs: 2px
  sm: 4px
  md: 8px
  lg: 16px
  xl: 24px
  xxl: 32px
}*/
br(size)
  border-radius: size