// no user select
no-select()
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

no-appearance()
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none