$display-types := block flex inline none inline-flex inline-block
for type in $display-types
  .d-{type}
    display: type;


for i in (center flex-start flex-end)
  .align-{i}
    align-items: i

for i in (space-around space-between center flex-start flex-end)
  .justify-{i}
    justify-content: i

.row
  flex-direction row

.flex-column
  flex-direction column

.d-flex
  .flex-fill
    flex: 1 1 auto
  .flex-none
    flex: none
  .flex-wrap
    flex-wrap: wrap
  &.row
    flex-direction row
  &.column
    flex-direction column