/* comparison */
.comparison
  background: $light.sec
  m(y,10)

  @media $media-breakpoints[sm-and-down]
    m(y, 0)


  &-cont
    width 100%;
    //border: 1px solid $light.text-d
    br(4px)
    overflow hidden
    position relative
    cursor col-resize
    shadow(2)

  &-before
    position absolute
    height 100%
    top: 0
    left 0
    overflow hidden
    border-right: 4px solid $light.pri
    box-sizing border-box

    img
      display flex
      height 100%

  &-after
    display: flex
    width: 100%