.swiper
  &-cont
    position relative

  &-btn
    top: 50%
    margin-top: -24px
    z-index: 100
    position absolute
    shadow(2)

  &-prev-btn
    left: -24px

  &-next-btn
    right: -24px

  &-slide
    img
      width 100%
      display block
